= render :partial => "helpers/title", :locals => { :title => "login", :link => nil }

%div.input
  %p
    Please log in to admin this website.

  - form_for @user, :url => sessions_path do |form|

    %table{ :cellspacing => "10px", :cellpadding => "0" }
      %tr
        %td
          %label{ :for => "password" }
            password
        %td
          = form.password_field :password, :class => 'field'

= render :partial => "helpers/top_bottom"