= render :partial => "helpers/title", :locals => { :title => "login", :link => nil }

%div.input
  %p
    Please log in to admin this website.

  - form_tag sessions_path do

    %table{ :cellspacing => "10px", :cellpadding => "0" }
      %tr
        %td
          %label{ :for => "password" }
            password
        %td
          = render :partial => "helpers/textfield", :locals => { :field => password_field_tag(:password, '', :class => 'field'), :indicator => flash[:alert] }

= render :partial => "helpers/top_bottom"