= render :partial => "helpers/title", :locals => { :title => "404", :link => root_url }

%div#error_page
  %p#info_line
    No page found
    %br
    %br
    To go back to the blog click
    = link_to "here", root_url
    %br
    %br
    You can search this website by using the above search functionality

= render :partial => "helpers/top_bottom"