= title_tag "404", root_url

%div#error_page
  %p#info_line
    No page found
    %br
    %br
    To go back to the blog click
    = link_to "here", root_url
    %br
    %br
    You can search this website by using the above search functionality

= top_bottom_tag