= title_tag "admin/post:new"

%div.input
  %p
    Fill in all the data to create a new blog post.

  - form_for [:admin, @post] do |form|

    %table{ :cellspacing => "10px", :cellpadding => "0" }

      = render :partial => "form", :locals => { :post => @post, :form => form }

      %tr
        %td
          &nbsp;
        %td
          = form.submit "Create", :class => "button"

%script{ :type => "text/javascript" }
  function toggleNote(checkbox) {
  if (checkbox.checked) {
  $('post_title_row').style.display = "none"
  $('post_permalink_row').style.display = "none"
  $('post_tag_list_row').style.display = "none"
  } else {
  $('post_title_row').style.display = "table-row"
  $('post_permalink_row').style.display = "table-row"
  $('post_tag_list_row').style.display = "table-row"
  }
  }
  toggleNote(document.getElementById('post_note'))

= top_bottom_tag