= render :partial => "helpers/title", :locals => { :title => "admin/posts:new", :link => nil }

%div.input
  %p
    Fill in all the data to create a new blog post.

  - form_for [:admin, @post] do |form|

    %table{ :cellspacing => "10px", :cellpadding => "0" }

      = render :partial => "form", :locals => { :post => @post, :form => form }

      %tr
        %td
          &nbsp;
        %td
          = form.submit "Create", :class => "button"

= render :partial => "helpers/top_bottom"