%table#selector{ :cellspacing => "2px", :cellpadding => "5px" }
  %tr
    %th.clear
      &nbsp;
    - %w( JAN FEB MRT APR MAY JUN JUL AUG SEP OCT NOV DEC ).each do |human_month|
      %th
        = human_month
  - archive.each_key do |year|
    %tr
      %th
        = year
      - %w( 1 2 3 4 5 6 7 8 9 10 11 12 ).each do |month|
        - count = archive[year][month.to_i] || 0
        - if month && current_month.to_i == month.to_i && current_year == year.to_s
          %td
            X
        - else
          %td.blocked
            = link_to_unless count == 0, count > 0 ? count : "&nbsp;", archive_by_year_and_month_path(year, month.to_i)