= title_tag "about", root_path

%div{ :class => "mytext image_right" }
  %img{ :src => "/images/about/genious.jpg", :alt => "" }
  %p
    Hello! This is Jelle speaking, or writing... And I'm very proud to present my personal blog. Here you can find some articles about web-development or other IT related stuff. Just hit the search button and check out if I can help you! This way I hope to bring my passion over to my readers!

%div{ :class => "mytext image_left" }
  %img{ :src => "/images/about/glider.jpg", :alt => "" }
  %p
    When I'm not behind my Macbook developing websites or other applications. I'm probably in my glider in a man-to-nature battle to keep my plane in the air. Want to join me, just check out this website: <a href="http://www.dewouw.be">www.dewouw.be</a>. And maybe you end up like me, soaring high in the sky...

%div{ :class => "mytext image_right" }
  %img{ :src => "/images/about/canon.jpg", :alt => "" }
  %p
    And of course like almost every other web enthusiast, I really like taking pictures of all kinds of things. You can find some of my shots at my <a href="http://www.flickr.com/jellevandebeeck" rel="me">flickr</a> account. Next to photography I also like to travel a lot, especially when airports are involved for obvious reasons...
    %br
    %br
    (top and bottom pictures by
    = link_to "Simon", "http://www.suffix.be"
    )

= top_bottom_tag